# Executables
ms-extract
ms-divergence
ms-intersect
ms-add-ortho

# Object files
*.o

# Libraries
*.a
*.so
*.so.*
*.dylib

# Debug files
*.dSYM/

# Backup files
.*.bak

# Data files
*.gff3
*.fa
*.fa.gz
*.fa.xz
*.png
*-ortho.txt
*.tsv.xz
*.out
*.err

# Temp files
README.html

# Data dirs
Hoods
Intersects
BLAST-DB
