# Executables
ms-extract
ms-divergence
ms-intersect
add-ortho

# Object files
*.o

# Libraries
*.a
*.so
*.so.*
*.dylib

# Debug files
*.dSYM/

# Backup files
.*.bak

# Data files
*.gff3
*.fa
*.png
*-ortho.txt

# Temp files
README.html

# Data dirs
Hoods
Intersects
